@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 139, 126, 223;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background--rgb: 139, 126, 223;
  }
}

body {
  font-family: Inter, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.header {
  height: 104px;
}

.menu {
  font-size: 20px;
}

.main-text {
  font-size: 80px;
  line-height: 1.22;
  width: 891px;
  padding-top: 223px;
}

.main-text::before {
  position: absolute;
  top: 8px;
  left: 0;
  background-image: url('/figure.png');
  content: '';
  width: 108px;
  height: 170px;
}

.install-btn {
  color: #8b7edf;
}

.main-text-bottom {
  margin-bottom: 88px;
}

.left {
  max-width: 781px;
}

.main-screen {
  min-height: calc(100vh - 104px);
  margin-bottom: 60px;
}

.main-img {
  margin-top: 103px;
}

.title {
  font-size: 40px;
  margin-bottom: 86px;
}

.title-1 {
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 119px;
}

.title::before {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translate(-50%);
  background-image: url('/figure1.png');
  width: 83px;
  height: 70px;
  content: '';
}

.title-1::before {
  position: absolute;
  top: 57px;
  left: 0;
  background-image: url('/figure2.png');
  width: 56px;
  height: 68px;
  content: '';
}


.footer {
  font-size: 20px;
}

p {
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 30px;
  color: white;
}

article {
  margin-bottom: 80px;
}

.list {
  max-width: 684px;
}

.list li {
  font-size: 22px;
  margin-bottom: 30px;
}

.max-width-858 {
  max-width: 858px;
}